<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body{
			background-color: #54F77E;


		}
	</style>
</head>
<body>
<h1>This is Contact page</h1>
<hr />
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<hr />
<ul class="list-group">
	<li><%= name %></li>
	<li><%= age %></li>
	<li><%= city %></li>

</ul>

</body>
</html>