<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		
	</style>
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Opps..... Somthing Wrong ..!</h1>
		<p>Please Check Your URL or go to <a class="btn btn-success" href="/">Home</a> Page</p>
	</div>
</div>

</body>
</html>