<div class="container">
	<h1>All Students</h1>
	<table class="table table-hover table-bordered">
		<tr>
			<th>S.No.</th>
			<th>Name</th>
			<th>Aeg</th>
			<th>Fee</th>
		</tr>
		<% data.forEach(function(row, i){ %>
		<tr>
			<td><%= i+1 %></td>
			<td><%= row.name %></td>
			<td><%= row.age %></td>
			<td><%= row.fee %></td>
		</tr>
	 <% }) %>

	</table>
</div>