<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
	<Br />
	<Br />
	<a href="/" class="btn btn-success">Home</a>
	<a href="/about" class="btn btn-info">About</a>
	<a href="/contact" class="btn btn-primary">Contact</a>
	<a href="/help" class="btn btn-warning">Help</a>
</div>
</body>
</html>